body {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
           
        h1 {
            font-weight: 400;
            margin-bottom: 30px;
            color: #333;
        }

        .btn-primary {
            display: block;
            margin: 0 auto;
        }
        